[submodule "submodules/qtfx"]
	path = submodules/qtfx
	url = https://github.com/tgeijten/qtfx.git
[submodule "submodules/vis"]
	path = submodules/vis
	url = https://github.com/tgeijten/vis.git
[submodule "scone"]
	path = scone
	url = ../scone-core
