/_output/
/bin/
/build/
/install/
/packages/
/doc/upload.bat
/nsis/
/OpenSceneGraph/
/opensim3-scone/
/resources/unittestdata/
/simbody/
/scenarios/Tutorials/*.sto
/scenarios/UnitTests/*.sto
/scenarios/UnitTests/Hyfydy/
/.version
/changes_scone.txt
/changes_studio.txt
/make_changes.py
/*.bat
*.log
.cquery_cached_index/
/.vs/
/.dir-locals.el
*~
