/_output/
/bin/
/build/
/install/
/packages*/
/doc/upload.bat
/nsis/
/OpenSceneGraph/
/opensim3-scone/
/resources/unittestdata/
/simbody/
/scenarios/Tutorials/*.sto
/scenarios/UnitTests/*.sto
/scenarios/UnitTests/Hyfydy/
/.version
/tmp/
/make_changelog.py
/*.bat
.cquery_cached_index/
/.vs/
/.dir-locals.el
*~
