[Desktop Entry]
Name=SCONE Studio
Comment=SCONE Graphical User Interface
TryExec=/opt/scone-studio/bin/sconestudio
Exec=/opt/scone-studio/bin/sconestudio
Icon=/opt/scone-studio/resources/scone_icon.png
Type=Application
Keywords=SCONE
