[Desktop Entry]
Name=SCONE Studio
Comment=SCONE Graphical User Interface
TryExec=/opt/scone/bin/sconestudio
Exec=/opt/scone/bin/sconestudio
Icon=/opt/scone/resources/scone_icon.png
Type=Application
Keywords=SCONE
